/* <blink> element */
@-webkit-keyframes blinker {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes blinker {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

blink {
  -webkit-animation: blinker steps(1) 1s infinite;
  animation: blinker steps(1) 1s infinite;
}

/** * Animations */
 .animated {
	 animation-fill-mode: both;
}
/** * Intensifies * - Slowly increases in shaking and madness */
 @keyframes intensifies {
	 0% {
		 transform: translate(1px, 1px) scale(1);
	}
	 1% {
		 transform: translate(-2px, -1px) scale(1.02);
	}
	 2% {
		 transform: translate(3px, 2px) scale(1.04);
	}
	 3% {
		 transform: translate(-4px, -4px) scale(1.06);
	}
	 4% {
		 transform: translate(3px, 1px) scale(1.08);
	}
	 5% {
		 transform: translate(-4px, -3px) scale(1.1);
	}
	 6% {
		 transform: translate(7px, 3px) scale(1.12);
	}
	 7% {
		 transform: translate(-7px, -7px) scale(1.14);
	}
	 8% {
		 transform: translate(2px, 3px) scale(1.16);
	}
	 9% {
		 transform: translate(-10px, -6px) scale(1.18);
	}
	 10% {
		 transform: translate(5px, 11px) scale(1.2);
	}
	 11% {
		 transform: translate(-10px, -2px) scale(1.22);
	}
	 12% {
		 transform: translate(13px, 5px) scale(1.24);
	}
	 13% {
		 transform: translate(-7px, -10px) scale(1.26);
	}
	 14% {
		 transform: translate(13px, 1px) scale(1.28);
	}
	 15% {
		 transform: translate(-8px, -16px) scale(1.3);
	}
	 16% {
		 transform: translate(3px, 3px) scale(1.32);
	}
	 17% {
		 transform: translate(-11px, -16px) scale(1.34);
	}
	 18% {
		 transform: translate(4px, 18px) scale(1.36);
	}
	 19% {
		 transform: translate(-6px, -16px) scale(1.38);
	}
	 20% {
		 transform: translate(11px, 12px) scale(1.4);
	}
	 21% {
		 transform: translate(-4px, -5px) scale(1.42);
	}
	 22% {
		 transform: translate(5px, 18px) scale(1.44);
	}
	 23% {
		 transform: translate(-11px, -16px) scale(1.46);
	}
	 24% {
		 transform: translate(12px, 19px) scale(1.48);
	}
	 25% {
		 transform: translate(-26px, -19px) scale(1.5);
	}
	 26% {
		 transform: translate(10px, 21px) scale(1.52);
	}
	 27% {
		 transform: translate(-12px, -4px) scale(1.54);
	}
	 28% {
		 transform: translate(5px, 16px) scale(1.56);
	}
	 29% {
		 transform: translate(-23px, -17px) scale(1.58);
	}
	 30% {
		 transform: translate(15px, 19px) scale(1.6);
	}
	 31% {
		 transform: translate(-18px, -6px) scale(1.62);
	}
	 32% {
		 transform: translate(23px, 19px) scale(1.64);
	}
	 33% {
		 transform: translate(-29px, -24px) scale(1.66);
	}
	 34% {
		 transform: translate(31px, 23px) scale(1.68);
	}
	 35% {
		 transform: translate(-6px, -31px) scale(1.7);
	}
	 36% {
		 transform: translate(5px, 5px) scale(1.72);
	}
	 37% {
		 transform: translate(-36px, -6px) scale(1.74);
	}
	 38% {
		 transform: translate(15px, 12px) scale(1.76);
	}
	 39% {
		 transform: translate(-30px, -16px) scale(1.78);
	}
	 40% {
		 transform: translate(37px, 21px) scale(1.8);
	}
	 41% {
		 transform: translate(-41px, -16px) scale(1.82);
	}
	 42% {
		 transform: translate(7px, 10px) scale(1.84);
	}
	 43% {
		 transform: translate(-33px, -14px) scale(1.86);
	}
	 44% {
		 transform: translate(13px, 4px) scale(1.88);
	}
	 45% {
		 transform: translate(-25px, -38px) scale(1.9);
	}
	 46% {
		 transform: translate(46px, 17px) scale(1.92);
	}
	 47% {
		 transform: translate(-33px, -15px) scale(1.94);
	}
	 48% {
		 transform: translate(24px, 36px) scale(1.96);
	}
	 49% {
		 transform: translate(-39px, -47px) scale(1.98);
	}
	 50% {
		 transform: translate(48px, 27px) scale(2);
	}
	 51% {
		 transform: translate(-48px, -31px) scale(2.02);
	}
	 52% {
		 transform: translate(48px, 8px) scale(2.04);
	}
	 53% {
		 transform: translate(-46px, -54px) scale(2.06);
	}
	 54% {
		 transform: translate(8px, 49px) scale(2.08);
	}
	 55% {
		 transform: translate(-12px, -29px) scale(2.1);
	}
	 56% {
		 transform: translate(2px, 56px) scale(2.12);
	}
	 57% {
		 transform: translate(-9px, -4px) scale(2.14);
	}
	 58% {
		 transform: translate(55px, 22px) scale(2.16);
	}
	 59% {
		 transform: translate(-6px, -4px) scale(2.18);
	}
	 60% {
		 transform: translate(55px, 51px) scale(2.2);
	}
	 61% {
		 transform: translate(-25px, -18px) scale(2.22);
	}
	 62% {
		 transform: translate(12px, 52px) scale(2.24);
	}
	 63% {
		 transform: translate(-1px, -6px) scale(2.26);
	}
	 64% {
		 transform: translate(61px, 61px) scale(2.28);
	}
	 65% {
		 transform: translate(-15px, -15px) scale(2.3);
	}
	 66% {
		 transform: translate(15px, 67px) scale(2.32);
	}
	 67% {
		 transform: translate(-31px, -33px) scale(2.34);
	}
	 68% {
		 transform: translate(31px, 13px) scale(2.36);
	}
	 69% {
		 transform: translate(-51px, -7px) scale(2.38);
	}
	 70% {
		 transform: translate(40px, 12px) scale(2.4);
	}
	 71% {
		 transform: translate(-41px, -32px) scale(2.42);
	}
	 72% {
		 transform: translate(55px, 20px) scale(2.44);
	}
	 73% {
		 transform: translate(-48px, -35px) scale(2.46);
	}
	 74% {
		 transform: translate(55px, 55px) scale(2.48);
	}
	 75% {
		 transform: translate(-21px, -30px) scale(2.5);
	}
	 76% {
		 transform: translate(2px, 63px) scale(2.52);
	}
	 77% {
		 transform: translate(-57px, -59px) scale(2.54);
	}
	 78% {
		 transform: translate(21px, 18px) scale(2.56);
	}
	 79% {
		 transform: translate(-32px, -53px) scale(2.58);
	}
	 80% {
		 transform: translate(80px, 3px) scale(2.6);
	}
	 81% {
		 transform: translate(-22px, -62px) scale(2.62);
	}
	 82% {
		 transform: translate(78px, 13px) scale(2.64);
	}
	 83% {
		 transform: translate(-23px, -12px) scale(2.66);
	}
	 84% {
		 transform: translate(55px, 59px) scale(2.68);
	}
	 85% {
		 transform: translate(-2px, -10px) scale(2.7);
	}
	 86% {
		 transform: translate(52px, 22px) scale(2.72);
	}
	 87% {
		 transform: translate(-30px, -44px) scale(2.74);
	}
	 88% {
		 transform: translate(46px, 47px) scale(2.76);
	}
	 89% {
		 transform: translate(-73px, -74px) scale(2.78);
	}
	 90% {
		 transform: translate(53px, 59px) scale(2.8);
	}
	 91% {
		 transform: translate(-50px, -6px) scale(2.82);
	}
	 92% {
		 transform: translate(78px, 22px) scale(2.84);
	}
	 93% {
		 transform: translate(-25px, -33px) scale(2.86);
	}
	 94% {
		 transform: translate(55px, 41px) scale(2.88);
	}
	 95% {
		 transform: translate(-32px, -39px) scale(2.9);
	}
	 96% {
		 transform: translate(24px, 1px) scale(2.92);
	}
	 97% {
		 transform: translate(-23px, -7px) scale(2.94);
	}
	 98% {
		 transform: translate(27px, 11px) scale(2.96);
	}
	 99% {
		 transform: translate(-75px, -95px) scale(2.98);
	}
	 100% {
		 transform: translate(0, 0) rotate(0deg);
	}
}
 .intensifies {
	 animation-timing-function: ease-out;
	 transform-origin: bottom center;
	 animation-name: intensifies;
	 animation-duration: 5s;
}

/* boot */
.boot {
  background-color: #000;
  color: white;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Ubuntu Mono, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Menlo, source-code-pro, Courier New, Courier, monospace;
  top: 10px;
  height: 100vh;
  width: 100vw;
}

.boot p {
  width: 70%;
  padding-left: 15px;
  line-height: 15px;
}

.boot .error {
  color: red;
  font-weight: bold;
}

.boot .success {
  color: #c3ff00;
  font-weight: bold;
}

.boot .warning {
  color: yellow;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, white, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 25%
  }

  100% {
    background-position: 0% 50%
  }
}

.context {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  text-shadow: 0 0 transparent;
  text-align: left;
  border: 1px solid #555;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  overflow: hidden;
  cursor: url("../cursors/default.cur"), default;
}

button,
a,
select,
input[type="checkbox"],
input[type="radio"],
.ld {
  cursor: url("../cursors/pointer.cur"), pointer;
}

input,
textarea {
  cursor: url("../cursors/text.cur"), text;
}

#container {
  width: 65rem;
  margin-left: 240px;
  margin-bottom: 60px;
}

.draggable {
  width: 25%;
  min-height: 6.5em;
  touch-action: none;
  user-select: none;
}

label {
  cursor: url("../cursors/default.cur"), default;
}

/*Clippy styling*/
/*****************************************************/
.clippy,
.clippy-balloon {
  position: fixed;
  z-index: 1000;
  cursor: pointer
}

.clippy-balloon {
  background: #FFC;
  color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px
}

.clippy-content {
  max-width: 200px;
  min-width: 120px;
  font-family: "Microsoft Sans", sans-serif;
  font-size: 10pt
}

.clippy-tip {
  width: 10px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  position: absolute
}

.clippy-top-left .clippy-tip {
  top: 100%;
  margin-top: 0px;
  left: 100%;
  margin-left: -50px
}

.clippy-top-right .clippy-tip {
  top: 100%;
  margin-top: 0px;
  left: 0;
  margin-left: 50px;
  background-position: -10px 0
}

.clippy-bottom-right .clippy-tip {
  top: 0;
  margin-top: -16px;
  left: 0;
  margin-left: 50px;
  background-position: -10px-16px
}

.clippy-bottom-left .clippy-tip {
  top: 0;
  margin-top: -16px;
  left: 100%;
  margin-left: -50px;
  background-position: 0px-16px
}

/************************************************************/

.boot .boot-image {
  vertical-align: middle;
  margin-right: 5px;
}

.boot a:link,
.boot a:visited,
.boot :link {
  color: turquoise;
  outline: none;
}

.boot br {
  font-size: 150%;
}

#tskbar {
  width: 100vw;
  position: fixed;
  bottom: 0%;
  overflow: hidden;
  left: 0%;
  background-color: gainsboro;
}

#tskbar button > img{
  vertical-align: middle;
}
