/* <blink> element */
@-webkit-keyframes blinker {
   0% { visibility: visible; }
   50% { visibility: hidden; }
   100% { visibility: visible; }
}
@keyframes blinker {
   0% { visibility: visible; }
   50% { visibility: hidden; }
   100% { visibility: visible; }
}
blink {
   -webkit-animation: blinker steps(1) 1s infinite;
   animation: blinker steps(1) 1s infinite;
}

/* bootscreen */
.bootscreen {
   background-color: #000;
   color: #c3ff00;
   text-align: left;
   font-family: Ubuntu Mono, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Menlo, source-code-pro, Courier New, Courier, monospace
}

.boottext {
   top: 10px;
}
.hidden {
   display: none !important;
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

.context {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  text-shadow: 0 0 transparent;
  text-align: left;
  border: 1px solid #555;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html {
  /* If html removed, will show default cursor at bottom.*/
  background: #c0c0d0;
  overflow: hidden;
  cursor: url("/cursors/default.cur"), default;
}
button,
a,
select,
.ld {
  cursor: url("/cursors/pointer.cur"), pointer;
}

input,
textarea {
  cursor: url("/cursors/text.cur"), text;
}
#container {
  width: 65rem;
  margin-left: 240px;
  margin-bottom: 60px;
}
input[type="checkbox"] {
  cursor: url("/cursors/pointer.cur"), pointer;
}
::-webkit-scrollbar {
  cursor: url("/cursors/pointer.cur"), pointer;
}
.draggable {
  width: 25%;
  min-height: 6.5em;
  touch-action: none;
  user-select: none;
}

label {
  cursor: url("/cursors/default.cur"), default;
}

textarea::-webkit-scrollbar-track:hover {
  background: red;
  cursor: pointer;
}
