/* <blink> element */
@-webkit-keyframes blinker {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes blinker {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

blink, .blink {
  -webkit-animation: blinker steps(1) 1s infinite;
  animation: blinker steps(1) 1s infinite;
}

/* boot */
.boot {
  background-color: #000;
  color: white;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Ubuntu Mono, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Menlo, source-code-pro, Courier New, Courier, monospace;
  top: 10px;
  height: 100vh;
  width: 100vw;
}

.boot p {
  width: 70%;
  padding-left: 15px;
  line-height: 15px;
}

.boot .error {
  color: red;
  font-weight: bold;
}

.boot .success {
  color: #c3ff00;
  font-weight: bold;
}

.boot .warning {
  color: yellow;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, white, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 25%
  }

  100% {
    background-position: 0% 50%
  }
}

.context {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  text-shadow: 0 0 transparent;
  text-align: left;
  border: 1px solid #555;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  overflow: hidden;
  cursor: url("../cursors/default.cur"), default;
}

button,
a,
select,
input[type="checkbox"],
input[type="radio"],
.ld {
  cursor: url("../cursors/pointer.cur"), pointer;
}

input,
textarea {
  cursor: url("../cursors/text.cur"), text;
}

#container {
  width: 65rem;
  margin-left: 240px;
  margin-bottom: 60px;
}

.draggable {
  width: 25%;
  min-height: 6.5em;
  touch-action: none;
  user-select: none;
}

label {
  cursor: url("../cursors/default.cur"), default;
}

.boot .boot-image {
  vertical-align: middle;
  margin-right: 5px;
}

.boot a:link,
.boot a:visited,
.boot :link {
  color: turquoise;
  outline: none;
}

.boot br {
  font-size: 150%;
}

#tskbar {
  width: 100vw;
  position: fixed;
  bottom: 0%;
  overflow: hidden;
  left: 0%;
  background-color: gainsboro;
}

#tskbar button > img{
  vertical-align: middle;
}

#dsktop #strtmenu {
	padding: 10px;
	background-color: gray;
	width: 120px;
}

/* START MENU CSS */
 .startmenu {
	background: #bfbfbf;
	border: 1px solid;
	border-top-color: #dfdfdf;
	border-left-color: #dfdfdf;
	border-right-color: #808080;
	border-bottom-color: #808080;
	box-shadow: 1px 1px 0 0 #000;
	zoom: 1;
	width: 195px;
	font-size: 13px;
	padding: 1px;
	position: relative;
	cursor: default;
  }
   .startmenu:before,
   .startmenu:after {
	content: "";
	display: table;
  }
   .startmenu:after {
	clear: both;
  }
   .startmenu >.startmenu-content {
	float: right;
  }
   .startmenu .startmenu-sidebar {
	background: -webkit-linear-gradient(top, #000080, #1084d0);
	background: linear-gradient(to bottom, #000080, #1084d0);
	position: absolute;
	width: 25px;
	height: 100%;
  }
   .startmenu .startmenu-sidebar .headline {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: absolute;
	bottom: 40px;
	left: -32px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	color: #fff;
  }
   .startmenu .startmenu-content {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: #000;
	list-style: none;
	margin: 2px 0;
	width: 170px;
  }
   .startmenu .startmenu-content .divider {
	margin: 7px 6px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #dfdfdf;
  }
   .startmenu .startmenu-content .item {
	padding: 10px;
  }
   .startmenu .startmenu-content .item em {
	font-style: normal;
	text-decoration: underline;
  }
   .startmenu .startmenu-content .item:hover {
	color: #fff;
	background: #000080;
  }
   .startmenu .startmenu-content .item.folder {
	position: relative;
  }
   .startmenu .startmenu-content .item.folder:after {
	content: '\25B6';
	float: right;
	font-size: 10px;
  }
   .startmenu .startmenu-content .item .icon {
	float: left;
	margin-right: 7px;
	margin-top: -4px;
  }
   .startmenu .startmenu-content .item:hover .startmenu-content,
   .startmenu .startmenu-content .item:focus .startmenu-content {
	display: block;
  }
 .startmenu-content .startmenu-content {
	background: #bfbfbf;
	border: 1px solid;
	border-top-color: #dfdfdf;
	border-left-color: #dfdfdf;
	border-right-color: #808080;
	border-bottom-color: #808080;
	box-shadow: 1px 1px 0 0 #000;
	display: none;
	position: absolute;
	left: 165px;
	top: -4px;
  }
   .startmenu .startmenu-content .startmenu-content .item {
	padding: 3px 10px;
  }
   .startmenu .startmenu-content .startmenu-content .icon {
	width: 18px;
	height: 18px;
	margin-top: -2px;
  }