{
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    // turn on typescript only for ts files
    "overrides": [
        {
            "files": ["*.ts"],
            "extends": "plugin:@typescript-eslint/recommended"
        }
    ]
}